.b1{
    width: 50%;
    height: auto;
    padding: 10px;
    position: static;
 }
.b1 h5{
    font-size: 120%;
    text-align: center;
 }
 
 .b1 img{
    width: 20%;
    height: auto;
 }

 .b2{
   width: 50%;
   height: auto;
   padding: 10px;
   position: static;
}
.b2 h5{
   font-size: 120%;
   text-align: center;
}

.b2 img{
   width: 20%;
   height: auto;
}