.table {
      position: relative;
      table-layout:  center;
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 75%;
  }

  td,
  .th {
      border: 1px solid #cccccc;
      padding: 40px;
  }

  p#h1
  {
    height: "1000";
    padding: 40px;
  }
    
  iframe{
    height: "1000";
    width: "100%" 
  }